/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 25, 2016, 10:30:50 AM
    Author     : ronald
*/
$mobile: 300px 480px;
$middle-portrait: 481px 620px;
$portrait: 621px 768px;
$landscape: 769px 1024px; 
$small-monitors: 1025px 1220px;
$large-monitors: 1221px;
