/*
  To change this license header, choose License Headers in Project Properties.
  To change this template file, choose Tools | Templates
  and open the template in the editor.
*/
/* 
  Created on : Jul 13, 2016, 11:50:23 AM
  Author     : ronalds
*/
$moderate-green: #71b439; 
$white: #fff;
$mostly-black: #151515;
$mostly-black-light: #2e2e2e
  